header {
  display: flex;
  height: 64px;
}
.logo {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
.logo-icon {
  margin-right: 8px;
}
.logo-name {
  color: var(--title-color);
}
.header-container {
  display: flex;
  align-items: center;
}

.had-nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 87px;
}
.had-nav-link {
  color: var(--title-color);
  display: flex;
  align-items: center;
}
